__pycache__/
figures/
neural_network_ToM/__pycache__/
neural_network_ToM/data/
outputs/
outputs_rendering/
stats/
stats_goal/
gridworld_setup/neural_network_ToM_reg/data/
gridworld_setup/neural_network_ToM_pred/data/
model_weights
